datasetsforecast==0.0.8
gluonts==0.15.1
lightgbm==4.4.0
mlforecast==0.13.1
neuralforecast==1.7.3
numpy==1.26.4
pandas==2.2.2
pmdarima==2.0.4
scikit-learn==1.5.1
scikit-lego==0.9.0
statsforecast==1.7.5
statsmodels==0.14.2
tbats==1.1.3
